.App {
  background-color: white;
}

.container-app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form {
  width: 420px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding-top: 30px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}
.emailstyle {
  box-shadow: rgba(36, 36, 117, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.formcontent {
  padding-left: 12%;
  padding-right: 12%;
}

.title {
  text-align: center;
  margin-bottom: 1em;
  font-size: 24px;
  color: rgb(34, 34, 34);
  font-weight: 800;
}

label {
  font-size: 15px;
  font-weight: 600;
  color: rgb(34, 34, 34);
}
.errormsg {
  font-size: 14px;
  font-weight: 600;
  color: red;
}
.container-post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.form-post {
  width: 400px;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 8px;
  background-color: white;
}
.img{
  justify-content: center;
  align-items: center;
  padding-left: 25%;
  padding-right: 12%;
}
.img-propfile{
  width: 50%;
  border-radius: 50%;
  border: 1px solid;
}
.btn-post{
  width: 20px;
}
.img-pro{
  width: 30%;
  border-radius: 50%;
}
  